body {
    font-family: Arial, sans-serif;
    background-color: #c7ddfd;
    padding: 20px;
    background-image: url(images/loli.png);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-size: cover;
}

#pokemons {
    background: #a3b3fc;
    color: rgb(0, 0, 0);
    border: none;
    padding: 10px 15px;
    border-radius: 8px;
    cursor: pointer;
    width: 200%;

}

#contenedor {
    display: flex;
    margin-bottom: 40px;
    align-items: center;
}

#pokemon-info {
    max-width: 100%;
    margin: 0 auto;
    background: rgb(195, 208, 253);

    padding: 20px;
    border-radius: 9px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    display: none;

}

#pokemon-image {
    width: 200px;
    height: 200px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 8px;
    align-items: center;
    justify-content: center;
}

#elegir {
    font-weight: bold;
}

#pokemon-stats {
    max-width: 1200px;
    margin: 0 auto;
    background: rgb(206, 191, 252);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);

}


h1 {
    font-size: 1.8rem;
    margin-bottom: 20px;
}

ul {
    text-align: left;
    list-style-type: none;
}

ul#pokemon-abs {
    background: rgb(203, 165, 253);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);


}

#pokemon-name {
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 20px;
}
#pokemon-image.visible {
    opacity: 1;
    transform: scale(1.1);
 }
#